* {
    margin: 0;
}

.body {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.left {
    background-color: #ffffff;
    height: 100%;
    width: 30%;
}

img {
    height: 100%;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70%;
}