* {
    margin: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.left {
    display: flex;
    background-color: #ffffff;
    height: 100%;
    flex: 1;
}

img {
    height: 100%;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #f5f5f5;
    width: 800px;
}

.logintext {
    font-size: 14px;
    margin-bottom: 5px;
}

.titlecard,
.title {
    position: absolute;
    inset: 0;
}

.title {
    inset: auto;
    bottom: 3rem;
    left: 3rem;
}